@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color:blue;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: blue;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.topic-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.topic-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0,1);
}

.topic-preview h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 8px;
}

.variable-button {
  display: block;
  max-width: 600px;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  color: white;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.variable-button:hover {
  background-color: #0056b3;
}

/* Additional styling for text color and font size */
.variable-button:hover {
  color: #fff;
  font-size: 26px;
}





